<!DOCTYPE html>
<html>
<head>
  <title>OKPizza</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://fb.me/react-0.10.0.min.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <script type="text/javascript">
    window.okPizzaLogo = '<%= image_url('okpizzalogo.png') %>'
    window.okPLogo = '<%= image_url('okp.png') %>'
    window.pic1 = '<%= image_url('Carl_Pizzin.png') %>'
    window.pic2 = '<%= image_url('Derek_Shlicer.png') %>'
    window.pic3 = '<%= image_url('Eric_Fengzza.png') %>'
    window.pic4 = '<%= image_url('Fred_Sladpizza.png') %>'
    window.pic5 = '<%= image_url('Jessica_Pizzawalker.png') %>'
    window.pic6 = '<%= image_url('Julian_Trapepperonison.png') %>'
    window.pic7 = '<%= image_url('Kevin_Motzzerllo.png') %>'
    window.pic8 = '<%= image_url('Krairitzza_Sirifuangwattana.png') %>'
    window.pic9 = '<%= image_url('Leen_Van_Bepizza.png') %>'
    window.pic10 = '<%= image_url('Les_Redpizza.png') %>'
    window.pic11 = '<%= image_url('Lurrito_Yangpizza.png') %>'
    window.pic12 = '<%= image_url('Mark_LaSatan.png') %>'
    window.pic13 = '<%= image_url('Meagan_Pizzsey-Copes.png') %>'
    window.pic14 = '<%= image_url('Nickzza_Stucookie.png') %>'
    window.pic15 = '<%= image_url('Oscar_Pizzarez.png') %>'
    window.pic16 = '<%= image_url('Pizza Saladnt.png') %>'
    window.pic17 = '<%= image_url('Pizza_Lady.png') %>'
    window.pic18 = '<%= image_url('Pizzter_Smackin.png') %>'
    window.pic19 = '<%= image_url('Pizztrick_Kovach_Long.png') %>'
    window.pic20 = '<%= image_url('Qin_Pizzhu.png') %>'
    window.pic21 = '<%= image_url('Robert_Tossig.png') %>'
    window.pic22 = '<%= image_url('Samuel_Pita.png') %>'
    window.pic23 = '<%= image_url('Stephpanie_Pizzhu.png') %>'
    window.pic24 = '<%= image_url('Thomnone_Beefings.png') %>'
    window.pic25 = '<%= image_url('Tommyizza_Duek.png') %>'
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
