<!DOCTYPE html>
<html>
<head>
  <title>OKPizza</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://fb.me/react-0.10.0.min.js"></script>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <script type="text/javascript">
    window.okPizzaLogo = '<%= image_url('okpizzalogo.png') %>'
    window.okPLogo = '<%= image_url('okp.png') %>'
    window.saucyPic1 = '<%= image_url('attract-1.png') %>'
    window.saucyPic2 = '<%= image_url('attract-2.png') %>'
    window.saucyPic3 = '<%= image_url('attract-3.png') %>'
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
